*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles for HTML and BODY */
html {
  font-size: 16px; /* Sets base font size */
  scroll-behavior: smooth; /* Smooth scrolling */
  -webkit-text-size-adjust: 100%; /* Prevents text size adjustment in mobile browsers */
}
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
